body {
	background-image: url(brooklynbridge.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	padding-bottom: 100px;
}

#Home {
	background-color: #FCF0EF;
	opacity: 0.78;
	width: 500px;
	margin: 80px auto 20px auto;
	text-align: center;
	padding-bottom: 90px;
}

#projects {
	display: none;
	background-color: #FCF0EF;
	opacity: 0.78;
	width: 500px;
	margin: 80px auto 0px auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.projects {
	text-align: center;
}

.name {
	color: black;
	font-size: 65px;
	font-family: 'Philosopher', 'Georgia', serif;
	text-align: center;
}

.name a {
	text-decoration: none;
	color: black;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav li{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 30px;
}

.nav a{
	color: black;
	display: inline-block;
	text-decoration: none;
	font-family: 'Josefin Sans','Century Gothic', sans-serif;
	font-size: 21px;
}

/*
.line-separator {
	height: 2px;
	width: 300px;
	background: black;
	border-background: 1px solid #FFFFFF;
	margin: 80px auto 0px auto;
}*/

.container {
	margin: 40px auto 0px auto;
	width: 500px;
	padding-top: 6px;
}

.projectnav {
	list-style-type: none;
	margin: 0;
	padding-left: 28px;
	text-align: left;
	font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
}

.projectnav dl{
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 10px;
}

.projectnav a {
	color: #1C2F2F;
	display: inline-block;
	text-decoration: none;
	font-size: 23px;
	font-weight: 30;
	padding-left: 9px;
}

.projectnav dd {
	font-size: 18px;
	padding-top: 10px;
	padding-left: 9px;
}

}
