body {
	background-image: url("water_background.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center top;
	padding-bottom: 100px;
}

#projects {
	display: none;
	background-color: white;
	opacity: 0.5;
	width: 500px;
	margin: 80px auto 0px auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.projects {
	text-align: center;
}

.name {
	color: #FFFFFF;
	font-size: 65px;
	font-family: 'Philosopher', 'Georgia', serif;
	text-align: center;
}

.name a {
	text-decoration: none;
	color: #FFFFFF;
	padding-top: 20px;
}

.nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav li{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 30px;
}

.nav a{
	color: #FFFFFF;
	display: inline-block;
	text-decoration: none;
	font-family: 'Josefin Sans','Century Gothic', sans-serif;
	font-size: 20px;
}

.line-separator {
	height: 2px;
	width: 300px;
	background: #FFFFFF;
	border-background: 1px solid #FFFFFF;
	margin: 80px auto 0px auto;
}

.container {
	margin: 0px auto;
	width: 600px;
	padding-top: 35px;
}

.projectnav {
	list-style-type: none;
	margin: 0;
	padding-left: 20px;
	text-align: left;
	font-family: 'Josefin Sans', 'Century Gothic', sans-serif;
}

.projectnav dl{
	display: block;
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 10px;
}

.projectnav a {
	color: #1C2F2F;
	display: inline-block;
	text-decoration: none;
	font-size: 20px;
	font-weight: 30;
}

.projectnav dd {
	font-size: 16px;
}

}
